/* This file is for your main application css. */

.container {
  background: white;
}

div#left{
  float:left;
  width:100px;
  min-height: 400px;
}

div#right{
  margin-left: 10px;
  margin-top: 10px;
  min-height: 400px;
}

.page-login {
  padding-top: 20px;
}

.hide {
  display: none;
}

.details-control {
  text-align: center;
}

.center-text {
  text-align: center;
}

.editNVR, .deleteNVR {
  cursor: pointer;
}

.ui.negative {
  width: 625px;
  margin: 0 auto;
}

.ui.info {
  width: 625px;
  margin: 0 auto;
}
