/* This file is for your main application css. */

.container {
  background: white;
}

div#left{
  float:left;
  width:100px;
  min-height: 400px;
}

div#right{
  margin-left: 10px;
  margin-top: 10px;
  min-height: 400px;
}

.page-login {
  padding-top: 20px;
}

.hide {
  display: none;
}

.details-control {
  text-align: center;
}

.center-text {
  text-align: center;
}

.editNVR, .deleteNVR {
  cursor: pointer;
}

.ui.left.vertical.sidebar.labeled.icon.menu.visible.set_to_lock {
  width: 95px;
}

.ui.negative {
  width: 625px;
  margin: 0 auto;
}

.ui.info {
  width: 625px;
  margin: 0 auto;
}

.am_box_checked {
  border: solid 1px white;
  width: 15px;
  height: 15px;
  background-color: #0d71bb;
}

.am_box_un_checked {
  border: solid 1px black;
  width: 15px;
  height: 15px;
}

#is_monitoring {
  cursor: pointer;
}

#edit_is_monitoring {
  cursor: pointer;
}
