body, html{
  font-size: 12px;
}

#api-wait {
  left: 44%;
  position: fixed;
  top: 44%;
  z-index: 99999;
}

#api-waiting {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 99999;
}

.hide_me {
  display: none;
}

.modal .modal-content .modal-header {
  padding: 11px;
}

.add_nvr_to_db > .m-portlet__body {
  padding: 10px;
}

.m-form .m-form__group {
  padding-bottom: 0px; 
}

.errorOnNVR {
  margin: 0px;
}

.cursor_to_pointer {
  cursor: pointer;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
    padding: 7px 10px;
}

.m-body .m-content {
    padding: 5px 7px;
}

.sim_graph_panel{
  padding-right: 2px;
}
.sim_graph_panel .m-portlet,
.sim_log_datatable .m-portlet{
  margin-bottom:5px;
}

.sim_graph_panel .m-portlet__body{
  padding: 10px;
}

.sim_log_datatable{
  padding-left: 3px;
}

.sim_log_datatable .m-portlet__body{
  padding: 10px; 
}

.left_head{
  padding: 20px 50px;
  background: #282a3c;
}

.custom_header {
  background: none !important;
}

.content_right_panel{
  margin-top: -70px;
  margin-bottom: 0 !important
}

.parent_container {
  display: table;
}

.content_container {
  height: 100%;
  background-color: blue;
}

.gravatar, .account-password .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  margin-top: -4px;
  width: 60px
}

.m-header--fixed .m-header{
  position: inherit !important;
}

.m-header--fixed .m-body {
  padding-top: 0 !important;
}

a {
  color: #5b5d5e;
}

a:hover {
  color: #9c9c9c !important;
}

::-moz-selection { /* Code for Firefox */
  background: #01468c;
  color: #fff;
}

::selection {
  background: #01468c;
  color: #fff;
}

.m-aside-left.m-aside-left--skin-dark {
  background-color: #2b2b2b;
}

.m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #656668 ;
}

.m-brand.m-brand--skin-dark {
  background: #343434;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
  color: #9c9c9c;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
  color: #606061;
}

.m-menu__item--active,.m-menu__item:hover{
  background-color:#212121 !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-icon,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-text {
  color: #9c9c9c;
}

.m-aside-menu .m-menu__nav>.m-menu__item {
  position: relative;
  margin: 0;
  border-bottom: solid 1px #333333;
}

.m-aside-menu .m-menu__nav>.bottom_link {
  border-top: solid 1px #333333;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::after,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::before {
  background: #cecece;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before {
  background: #cecece;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell>span>i {
  color: #2b2b2b;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
  background: #eee !important;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row.m-datatable__row--even>.m-datatable__cell {
  background: #f9f9f9;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row.m-datatable__row--hover:not(.m-datatable__row--active)>.m-datatable__cell {
  background: #eee;
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid>input:checked~span {
  background: #eee;
}

.btn-primary,.btn.btn-default,.btn-brand {
  color: #333;
  background-color: #e5e5e5;
  border-color: #ccc;
  border-radius: 0;
}
.btn-primary:hover,.btn.btn-default:hover,.btn-brand:hover{
  background-color: #d6d6d6;
  color: #333 !important;
  border-color: #ccc;
}

.daterangepicker .ranges li.active {
  background: #2b2b2b;
  color: #fff;
  border: 1px solid #1d1d1d;
}

.form-control.m-input--solid:focus {
  background-color: #ebedf2;
  border-color: #343434;
  color: #575962;
}

.form-control:focus {
  border-color: #343434;
  color: #575962;
}

.m-checkbox.m-checkbox--solid>span {
  background: #eee;
  border: 1px solid transparent!important;
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid>span:after {
  border: solid #585858;
}

.m--font-brand {
  color: #2b2b2b!important;
}

.m-datatable__cell a{
  color: #0775ce !important;
}

.btn-dark{
  color: #9c9c9c;
  background-color: #212121;
  border-color: #212121;
  border-radius: 0;
}

.btn-dark:hover{
  color: #fff !important;
  background-color: #2b2b2b;
  border-color: #212121;
  border-radius: 0;
}

.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__group, .m-form.m-form--fit .m-form__heading {
  padding-left: inherit;
  padding-right: inherit;
}

.modal .modal-content .modal-header {
  padding: 11px 11px 11px 22px;
}

.modal .modal-content .modal-footer{
  padding:11px 25px;
}

.modal .modal-content .modal-body {
  padding: 5px 25px;
}

.drop-input{
  height: 42px !important;
}

.readonly{
  background: #d4d4d4 !important
}

.ui-menu {
  z-index: 10000 !important
}

.m-datatable.m-datatable--default.m-datatable--loaded>.m-datatable__table>.m-datatable__body .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
  display: table-cell;
  border-right: solid 1px #fff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__section .m-menu__section-text {
  color: #5f6060;
}

.response-col_description{
  width: 80% !important;
}

.response-col_status{
  width: 20% !important;
}

.parameters-col_description{
  width: 60% !important;
}

.parameters-col_name{
  width: 40% !important;
}

.swagger-ui .wrapper{
  padding: 0 !important;
}

.swagger-ui a.nostyle, .swagger-ui a.nostyle:visited {
  font-weight: bold;
}

.swagger-ui .info, .swagger-ui .topbar {
  display: none;
}

.m-scroll-top--skin-top{
  z-index: 10000;
}

select.form-control:not([size]):not([multiple]) {
  height: 42px !important;
}

.m-datatable__cell a {
  color: #5b5d5e !important;
}

.m-aside-menu{
  width: inherit !important;
}

.inner_menu{
  height:90vh;
  position:absolute;
  width: inherit;
}

#page_content_main{
  height:100vh;
}

.tableScroll{
  overflow-x: auto;
  overflow-y:hidden;
}
.topScroll {
  height: 1px;
}

.intl-tel-input {
  width: 100%;
}

.m-blockui {
  display:inline-block !important;
}

.m-portlet__body{
  padding: 0 10px 10px 10px;
}

.dataTables_filter{
  display:none;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #e9ecef !important;
}

.table td, .table th{
  padding-bottom: 5px;
}

#swagger-ui{
    min-width: 992px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}

[v-cloak] {
  display:none;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
  border-radius: 0;
  padding: 15px;
  margin-top: 1.5rem;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
  display: inline-block;
  text-align: center;
  padding: 15px;
  border-radius: 0;
  background-color: #4c4b4b;
  box-shadow: none;
  border: 0;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
  text-align: center;
  margin-top: 0;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-sub {
  padding-left: 7px;
  padding-right: 7px;
  margin: 15px auto 0 auto;
}

.m-checkbox.m-checkbox--focus>span:after {
  border: solid #9e9e9d;
}

.m-checkbox.m-checkbox--focus>input:checked~span {
  border: 1px solid #c2c2c2;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
  margin-bottom: 40px;
  margin-top: 40px;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
  text-align: center;
  margin: 0 auto 4rem auto;
  margin-bottom: 10px;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__account .m-login__account-link,
.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title {
  color: #737373;
}

#input_container {
  position:relative;
  padding:0 0 0 20px;
}

#smsMessage {
  padding-right: 30px;
  width: 97%;
  height: 40px;
  margin-left: -5px;
  background-color:#fff;
  border: solid 1px #ebedf2;
}

#input_img {
  position:absolute;
  bottom:5px;
  right:17px;
  width:15px;
  height:24px;
  background: url(../../../images/arrow-down.png) no-repeat;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 0 0 2px 20px !important;
  font-size: 12px;
}
.blockOverlay{
  z-index: 1500 !important;
}

.blockElement{
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 30% !important;
  left: 35%;
  right: 35%;
  font-size: 12px !important;
  z-index: 1600 !important;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
  background-color: #7b7b7b;
}

.blockElement h1{
  font-size: 16px
}

.m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #bdbdbd;
  font-size: 14px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
  color: #ffffff;
}

.table td {
  padding: .40rem;
  vertical-align: middle !important;
}

#sms-datatable td {
  padding: .50rem;
  padding-bottom: .10rem;
  vertical-align: middle !important;
}

.menu_expand{
  display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  min-height: 35px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 7px;
}

.select2-selection__choice__remove{
  display: none !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
  border-color: #575962;
}

.m-brand {
  width: 200px;
  padding: 0 15px;
}

.m-aside-left {
  width: 200px;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 9px 15px;
}

.red_text{
  color: red;
}

.green_text{
  color: green;
}

.orange_text{
  color: orange;
}

.nav.nav-pills, .nav.nav-tabs {
  margin-bottom: 0;
}

.heading_panel h4{
  margin-top: 15px;
}

.event span{
  font-weight: 500;
}

.form-control.m-input--solid {
  background-color: #e4e4e4;
  border-color: #f4f5f8;
  color: #575962;
}

.modal-lg {
  max-width: 650px !important;
}

@media (max-width: 992px){
  .m-brand{
    width: 100%;
  }
}

@media (max-width: 767px){
  #m_form_search{
    margin-top:10px;
  }
}

@media (min-width: 993px){
  .m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-icon {
    color: #9c9c9c !important;
  }

  .bottom_links{
    position: fixed;
    padding: 0 !important;
    bottom: 0;
    width: inherit;
  }
  .m-header--fixed .m-header{
    z-index: 0 !important;
  }
  body.m-aside-left--skin-dark .m-header .m-header-head{
    box-shadow: none !important;
  }

  .m-aside-menu{
    position: fixed;
  }
  .m-stack.m-stack--general{
    position: relative;
  }
  .m-stack.m-stack--general.m-stack--ver>.m-stack__item.m-stack__item--middle {
    position: fixed;
    top: 20px;
  }
  .menu_head{
    background-color: #343434;
    padding: 20px 30px 10px 20px;
    position: fixed;
  }
  .m-stack.m-stack--desktop.m-stack--ver>.m-stack__item{
    padding: 0
  }
  .m-brand .m-brand__logo, .m-brand .m-brand__tools{
    height: 40px !important;
  }
}

.custom-combobox input{
  width: 302px;
  height: 40px;
  margin: 0;
  background:none;
  padding-left: 10px
}

.custom-combobox input:focus{
  border: 1px solid #343434 !important;
  outline: none;
}

.custom-combobox a{
  height: 40px;
  margin-top: -3px !important;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 5px 10px !important;
}

.ui-menu .ui-menu-item-wrapper:hover{
  background:none !important;
  background-color: #ededec !important;
  border-color: #ededec !important;
}

#input_container {
  padding-left: 14px;
}

.ui-widget.ui-widget-content {
  border: 1px solid #ebedf2 !important;
}

@media (max-width: 575px){
  .sim_log_datatable{
    padding-left: 15px;
  }
  .sim_graph_panel{
  padding-right: 15px;
}
}

@media (max-width: 992px) {
  .content_right_panel{
    margin-top: -2px ;
  }
  .m-aside-left-close.m-aside-left-close--skin-dark>i {
    color: #fcc643;
  }

  .m-aside-left-close.m-aside-left-close--skin-dark:hover {
    background-color: #fbc342;
  }
  .m-brand .m-brand__logo .m-brand__logo-wrapper {
    display: inline-block;
    margin-top: 15px;
  }
}

.m-menu__link .m-menu__link-icon{
  color: red
}

.m-widget24 .m-widget24__item .m-widget24__title {
  margin-left: 1.8rem;
  margin-top: 0.20rem;
}
.bold_text{
}

.m-list-timeline__text span{
  font-weight: 500;
}