#api-wait {
  left: 44%;
  position: fixed;
  top: 44%;
  z-index: 99999;
}

#api-waiting {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 99999;
}


.hide_me {
  display: none;
}

.modal .modal-content .modal-header {
  padding: 11px;
}

.add_nvr_to_db > .m-portlet__body {
  padding: 10px;
}

.m-form .m-form__group {
  padding-bottom: 0px; 
}

.errorOnNVR {
  margin: 0px;
}

.cursor_to_pointer {
  cursor: pointer;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
    padding: 7px 10px;
}

.m-body .m-content {
    padding: 5px 7px;
}

.sim_graph_panel{
  padding-right: 2px;
}
.sim_graph_panel .m-portlet,
.sim_log_datatable .m-portlet{
  margin-bottom:5px;
}

.sim_graph_panel .m-portlet__body{
  padding: 10px;
}

.sim_log_datatable{
  padding-left: 3px;
}

.sim_log_datatable .m-portlet__body{
  padding: 10px; 
}

.left_head{
  padding: 20px 50px;
  background: #282a3c;
}

.custom_header {
  background: #f2f3f8 !important
}

.content_right_panel{
  margin-top: -70px;
  z-index: 1030;
  margin-bottom: 0 !important
}

.parent_container {
  display: table;
}

.content_container {
  height: 100%;
  background-color: blue;
}

.gravatar, .account-password .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  margin-top: -4px;
  width: 60px
}

@media (max-width: 992px) {
  .content_right_panel{
    margin-top: -2px ;
  }
}