#api-wait {
  left: 44%;
  position: fixed;
  top: 44%;
  z-index: 99999;
}

#api-waiting {
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 99999;
}

.hide_me {
  display: none;
}

.modal .modal-content .modal-header {
  padding: 11px;
}

.add_nvr_to_db > .m-portlet__body {
  padding: 10px;
}

.m-form .m-form__group {
  padding-bottom: 0px; 
}

.errorOnNVR {
  margin: 0px;
}

.cursor_to_pointer {
  cursor: pointer;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
    padding: 7px 10px;
}

.m-body .m-content {
    padding: 5px 7px;
}

.sim_graph_panel{
  padding-right: 2px;
}
.sim_graph_panel .m-portlet,
.sim_log_datatable .m-portlet{
  margin-bottom:5px;
}

.sim_graph_panel .m-portlet__body{
  padding: 10px;
}

.sim_log_datatable{
  padding-left: 3px;
}

.sim_log_datatable .m-portlet__body{
  padding: 10px; 
}

.left_head{
  padding: 20px 50px;
  background: #282a3c;
}

.custom_header {
  background: #f2f3f8 !important
}

.content_right_panel{
  margin-top: -70px;
  z-index: 1030;
  margin-bottom: 0 !important
}

.parent_container {
  display: table;
}

.content_container {
  height: 100%;
  background-color: blue;
}

.gravatar, .account-password .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  margin-top: -4px;
  width: 60px
}

.m-header--fixed .m-header{
  position: inherit !important;
}

.m-header--fixed .m-body {
  padding-top: 0 !important;
}

a {
  color: #5b5d5e;
}

a:hover {
  color: #9c9c9c !important;
}

::-moz-selection { /* Code for Firefox */
  background: #01468c;
  color: #fff;
}

::selection {
  background: #01468c;
  color: #fff;
}

.m-aside-left.m-aside-left--skin-dark {
  background-color: #2b2b2b;
}

.m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  color: #656668 ;
}

.m-brand.m-brand--skin-dark {
  background: #343434;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-icon {
  color: #9c9c9c;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
  color: #606061;
}

.m-menu__item--active,.m-menu__item:hover{
  background-color:#212121 !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-icon,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-text {
  color: #9c9c9c;
}

.m-aside-menu .m-menu__nav>.m-menu__item {
  position: relative;
  margin: 0;
  border-bottom: solid 1px #333333;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::after,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::before {
  background: #cecece;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before {
  background: #cecece;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell>span>i {
  color: #2b2b2b;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
  background: #eee !important;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row.m-datatable__row--even>.m-datatable__cell {
  background: #f9f9f9;
}

.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row.m-datatable__row--hover:not(.m-datatable__row--active)>.m-datatable__cell {
  background: #eee;
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid>input:checked~span {
  background: #eee;
}

.btn-primary,.btn.btn-default,.btn-brand {
  color: #333;
  background-color: #e5e5e5;
  border-color: #ccc;
  border-radius: 0;
}
.btn-primary:hover,.btn.btn-default:hover,.btn-brand:hover{
  background-color: #d6d6d6;
  color: #333 !important;
  border-color: #ccc;
}

.daterangepicker .ranges li.active {
  background: #2b2b2b;
  color: #fff;
  border: 1px solid #1d1d1d;
}

.form-control.m-input--solid:focus {
  background-color: #ebedf2;
  border-color: #343434;
  color: #575962;
}

.form-control:focus {
  border-color: #343434;
  color: #575962;
}

.m-checkbox.m-checkbox--solid>span {
  background: #eee;
  border: 1px solid transparent!important;
}

.m-checkbox.m-checkbox--brand.m-checkbox--solid>span:after {
  border: solid #585858;
}

.m--font-brand {
  color: #2b2b2b!important;
}

.m-datatable__cell a{
  color: #0775ce !important;
}

.btn-dark{
  color: #9c9c9c;
  background-color: #212121;
  border-color: #212121;
  border-radius: 0;
}

.btn-dark:hover{
  color: #fff !important;
  background-color: #2b2b2b;
  border-color: #212121;
  border-radius: 0;
}

.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__group, .m-form.m-form--fit .m-form__heading {
  padding-left: inherit;
  padding-right: inherit;
}

.modal .modal-content .modal-header {
  padding: 11px 11px 11px 22px;
}

.modal .modal-content .modal-footer{
  padding:11px 25px;
}

.modal .modal-content .modal-body {
  padding: 5px 25px;
}

.drop-input{
  height: 42px !important;
}

.readonly{
  background: #d4d4d4 !important
}

.ui-menu {
  z-index: 10000 !important
}

.m-datatable.m-datatable--default.m-datatable--loaded>.m-datatable__table>.m-datatable__body .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell, .m-datatable.m-datatable--default.m-datatable--loaded>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell {
    display: table-cell;
    border-right: solid 1px #fff;
}

@media (min-width: 993px){
  .m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link>.m-menu__link-icon {
    color: #9c9c9c !important;
  }
}

@media (max-width: 992px) {
  .content_right_panel{
    margin-top: -2px ;
  }
  .m-aside-left-close.m-aside-left-close--skin-dark>i {
    color: #fcc643;
  }

  .m-aside-left-close.m-aside-left-close--skin-dark:hover {
    background-color: #fbc342;
  }
}