<html>
<head>
  <title>Password Reset - Recovery Email</title>
</head>
<body style="font-size: 12px; font-family: arial; font-size: 12px">
    <div style=" width: 70%; margin: auto;">
      <div style="border: 1px solid #eee; padding: 10px; margin-bottom: 10px">
        <div style="background: #eee; padding:5px 10px;">
          <div style="float: left;">
          <img src="http://stoilova2004.com/wp-content/uploads/2018/05/topimage.png" width="60px">
          </div> 
          <div style="float: left;">
          <h2 style="margin: 18px 10px">Password Reset</h2>
          </div> 
          <div style="clear: both;"></div>
      </div>
      <div style="text-align: center;">
        <p>If you've lost your password or wish to reset it, use the link below to get started. it will expire in next 15 minutes</p>
        <div style="height: 10px"></div>
        <a href="http://app.edgecommander.com/users/reset_password/<%= @token %>" style="background: #fdc735; padding: 10px; text-decoration: none;color: #343433;">Reset Your Password</a>
        <div style="height: 10px"></div>
      </div>
        <p>
          <strong>Note: </strong>
          If you did not request a password reset, you can safely ignore this email. only a person with access to your email can reset your account's password.
        </p>
      </div>
      <img src="https://edgecommander.com/wp-content/uploads/2017/11/edgecommander.png" width="200px" style="border: solid 1px #eee;">
      <h3 style="margin: 5px">EdgeCommander</h3>
      <p style="margin: 5px">6-7 Granby Row,</br> Dublin 1,</br> D01 FW20,</br> Ireland.<p>
    </div>
</body>
</html>