<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= Phoenix.HTML.Tag.csrf_meta_tag() %>
    <!--begin::Base Styles -->
    <link href="<%= static_path(@conn, "/assets/vendors/base/vendors.bundle.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= static_path(@conn, "/assets/demo/default/base/style.bundle.css") %>" rel="stylesheet" type="text/css" />

    <link href="<%= static_path(@conn, "/css/visavail.css") %>" rel="stylesheet" type="text/css" />

    <link href="<%= static_path(@conn, "/css/personal.css") %>" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="<%= static_path(@conn, "/assets/demo/default/media/img/logo/favicon.ico") %>" />

    <title>EdgeCommander: Device Management & Monitoring Made Easy</title>

  </head>
    <%
        IO.inspect @conn.request_path
    %>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <!--begin::Base Scripts -->
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <%= if @conn.request_path == "/" or @conn.request_path == "/nvrs" or @conn.request_path == "/status_report" or @conn.request_path == "/routers" or @conn.request_path == "/commands" or @conn.request_path == "/my_profile" or @conn.request_path == "/sites" or String.starts_with?(@conn.request_path, "/sims/") do %>

        <script src="<%= static_path(@conn, "/assets/vendors/base/vendors.bundle.js") %>" type="text/javascript"></script>
        <script src="<%= static_path(@conn, "/assets/demo/default/base/scripts.bundle.js") %>" type="text/javascript"></script>
        <script src="<%= static_path(@conn, "/assets/app/js/dashboard.js") %>" type="text/javascript"></script>
        <script src="<%= static_path(@conn, "/js/datatable.js") %>" type="text/javascript"></script>
    <%  end %>

    <%= if @conn.request_path == "/" do %>
      <script src="<%= static_path(@conn, "/js/Chart.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/assets/demo/default/custom/components/datatables/base/data-local.js") %>"> type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeSIMs();
      </script>
    <%  end %>

    <%= if String.starts_with?(@conn.request_path, "/sims/") do %>
      <script src="<%= static_path(@conn, "/js/sim_graph_data.js") %>" type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeSimTabs();
      </script>
    <% end %>

    <%= if @conn.request_path == "/nvrs" do %>
      <link href="<%= static_path(@conn, "/css/for_nvr.css") %>" rel="stylesheet" type="text/css" />
      <script src="<%= static_path(@conn, "/assets/demo/default/custom/components/datatables/base/nvr_local_datatable.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/notify.min.js") %>"> type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeNVR();
      </script>
    <%  end %>

    <%= if @conn.request_path == "/routers" do %>
      <script src="<%= static_path(@conn, "/assets/demo/default/custom/components/datatables/base/routers_local_datatable.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/notify.min.js") %>"> type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeRouters();
      </script>
    <%  end %>

    <%= if @conn.request_path == "/commands" do %>
      <script src="<%= static_path(@conn, "/assets/demo/default/custom/components/datatables/base/commands_local_datatable.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/notify.min.js") %>"> type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeCommands();
      </script>
    <%  end %>

    <%= if @conn.request_path == "/my_profile" do %>
      <script src="<%= static_path(@conn, "/js/notify.min.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/users.js") %>" type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeUsers();
      </script>
    <%  end %>

     <%= if @conn.request_path == "/sites" do %>
      <script src="<%= static_path(@conn, "/assets/demo/default/custom/components/datatables/base/sites_local_datatable.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/notify.min.js") %>"> type="text/javascript"></script>
      <link href="<%= static_path(@conn, "/css/jquery-ui.css") %>" rel="stylesheet" type="text/css" />
      <script src="<%= static_path(@conn, "/js/jquery-ui.min.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/googleMap-api.js") %>"> type="text/javascript"></script>
      <script type="text/javascript">
        window.initializeSites();
      </script>
    <%  end %>

    <%= if @conn.request_path == "/status_report" do %>
      <script src="<%= static_path(@conn, "/js/d3.min.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/visavail.js") %>"> type="text/javascript"></script>
      <script src="<%= static_path(@conn, "/js/statusreport.js") %>"> type="text/javascript"></script>
      <script type="text/javascript">
        $( document ).ready(function() {
          $(".range_inputs").css( "display", "none" );
          $('.ranges > ul > li:last-child').remove();
          $('.ranges > ul > li:last-child').remove();
          $('.ranges > ul > li:last-child').remove();
        });
        window.initializeStatusReport();
      </script>
    <%  end %>
    <!--end::Page Snippets -->
</html>
