<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello EdgeCommander!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <%
      info = get_flash(@conn, :info)
      error = get_flash(@conn, :error)
      %>
      <%= if info do %>
        <div class="ui info message">
          <i class="close icon"></i>
          <div class="header">
            Please Listen!
          </div>
          <p><%= info %></p>
        </div>
      <% end %>
      <%= if error do %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            Please Listen!
          </div>
          <p><%= error %></p>
        </div>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
